/* For Novaro's Theme Customization Style */
/* body */
body{font-family: 'Karla', sans-serif!important; background: #fff!important;}
/* Top Nav */
.topnav a{color:#07bec6; font-weight: normal; font-family:lato; text-transform: uppercase;  }
.topnav li a:hover, .topnav li:hover a, .topnav .current_page_item> a, .topnav .current_page_item > a:hover, .topnav .current_page_parent > a, .topnav .current_page_parent > a:hover, .topnav .current-menu-parent > a, .topnav .current-menu-parent > a:hover, .topnav .current-menu-item > a, .topnav .current-menu-item > a:hover{color:#227fb1}
.topnav > li:hover, .topnav > .current_page_item, .topnav > .current_page_parent, .topnav > .current-menu-parent, .topnav > .current-menu-ancestor, .topnav > .current_page_ancestor, .topnav > .current-menu-item{border: 0}
.topnav li a, .topnav li a:visited, .gn-menu li a, .gn-menu li a:visited{font-family: 'Lato', sans-serif!important!important; }

#outermain{padding:0;}

/* outermiddle */
#outermiddle {background-color:transparent}
.flexslider-carousel .nvr-prop-box {box-shadow: 5px 5px 2px #058E93}
.flexslider-carousel .nvr-prop-title { margin: 0 0 10px; text-align: center; text-transform: uppercase; }
.flexslider-carousel .nvr-prop-title a{ color:#666666}

.nvr-prop-address { background: none repeat scroll 0 0 #f3f3f3; margin: 0 -17px; padding: 10px; }


/* footer */
 #outerfooter, #footerwrapper { background-color: #1b5a81 !important;}

 /*map slider form */
 #advanced-search-box{display: none}

 .callAction-full{background: #257cb1}
 .border-btn p{text-align: center; margin:0px;}
 .border-btn p a{border:1px solid #fff; color:#fff; padding:15px 20px; text-transform: uppercase; }
 
 /* carousel properties */
 .propcarousel :before{clear:both;}
.propcarousel {width:1170px; margin: 0 auto;}

/*titles*/
.whoweare{background:url(images/who-we-are-icon.png) no-repeat 10px center #efedf4 ; padding-left:85px!important; width: auto;}
/*.blocktitle{font-family: 'lato', sans-serif; font-size: 48px; font-weight: 100;   padding:15px 25px 15px 55px; text-transform:uppercase;   }*/
p.blocktitle span{font-family: 'lato', sans-serif; font-size: 48px; font-weight: 100;   padding:15px 25px 15px 55px; text-transform:uppercase;   }
.fproperties{background:url(images/fproperties-icon.png) no-repeat #07b5bd 10px center; color:#fff; width: auto; }
.news{background:url(images/news-icon.png) no-repeat 10px center #efedf4; padding-left:85px!important; }
 p.blocktitle  {margin-top:70px;}


/*buttons*/
a.btn-green{font-size:18px; font-family: 'lato', sans-serif; padding:10px 25px; text-transform: uppercase; color:#fff; background: #94c55e; text-decoration: none; }

/*propertis hidden items */
.nvr-prop-box span.meta-purpose, .nvr-prop-box span.meta-price {display:none;}
.nvr-prop-box {max-height: 750px; height:700px;}

 .nvr-prop-box .learn-more {position: absolute; bottom: 20px; text-align: center; width:380px;}
.nvr-prop-box .learn-more a.btn-green{width:150px; margin:0 auto;}
.nvr-prop-type i{font-size:36px; color:#07bec6}
.nvr-prop-address{color:#787878;}
.nvr-prop-address .fa{color:#07bec6; font-size:36px; margin-right:8px; }
.nvr-prop-address .fa-map-marker{color:#787878; }

.stripecontainer > .stripewrapper > div.wpb_row:last-child {
    margin-bottom: 0;
    padding: 45px 0;
}

/* alignments */
.center{text-align: center}
.prop-item-container{}
.clear{clear:both; line-height:0; padding:0;}

/*footer sidebar*/

#footer{border-top:1px solid #07bec6 ;}
#menu-footer-links li{display:inline-block; padding: 5px 10px;}
#footersidebar{padding: 55px 0 0 0;}

#footersidebar #menu-footer-links li{padding:5px 10px;}  
#menu-footer-links li a{color:#07bec6; }
#footersidebar li a, #footersidebar li a:visited {
    color: #07bec6;
}
#footcol3, #footcol4{display:none;}
#footcol2{width:75%;}

/*recent posts */
.stripecontainer{margin-bottom:0;}
.vc_gitem-zone-a{display: none!important}
.vc_gitem-col{background: #fff}
.vc_custom_heading h4{color: #07bec6; font-family: 'lato', sans-serif; text-transform: uppercase; font-size:22px; font-weight:normal;}
a.vc_btn_juicy_pink {font-size:18px; font-family: 'lato', sans-serif; padding:10px 25px; text-transform: uppercase; color:#fff; background: #94c55e!important; text-decoration: none; }

.property-filter{position:absolute; z-index: 1; background: url(images/white.png); border:1px solid #787878; bottom: 40px; left:50px; padding:10px; width:520px;}
.property-filter label{display:block;}
.property-filter label span{width:195px; display: inline-block;}
.property-filter label span .fa{margin-right:8px;}
.property-filter h6{margin-bottom:0;}
.property-filter .toggle{display: none}

label.av-spaces{color:#00bec8}
label.p-sold{color:#257cb1}
label.c-projects{color:#1b5a81}
label.in-dev{color:#94c65f}
label.a-asign{color:#b580ba}
label.cur-asign{color:#814f6a}
label.comp-asign{color:#4b356c}

.filterbox{display:block;}

/* About Design */
#outertop {
	background: none;
}
#afterheader .pagetitle {
	font-size: 36px;
	line-height: 44px;
	color:#777;
	font-weight: normal;
}
#outerafterheader {
	padding: 10px 0px;
}
.more-link {
  background: #94c55e;
  border: none;
  color: #fff;
}
.more-link:hover {
  background: #237cb2;
  color: #fff;
}
.flt_right {
	float: right;
}
.testimonial_main {
	background: #fff;
	-webkit-box-shadow: 6px 5px 0px -2px rgba(5,124,129,1);
	-moz-box-shadow: 6px 5px 0px -2px rgba(5,124,129,1);
	box-shadow: 6px 5px 0px -2px rgba(5,124,129,1);
	margin-bottom:100px !important;
}
.testimonial_main .nvr-trotating .testiimg img {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
#subbody .testimonial_main .flex-direction-nav a.flex-next {
	right: 20px;
	margin-right: 0;
}
#subbody .testimonial_main .nvr-trotating .flex-direction-nav a.flex-prev {
	left: 20px;
	margin-left: 0;
}
#subbody .testimonial_main .flex-direction-nav a {
	background: transparent;
	color:#07bec6;
}
#subbody .testimonial_main .flex-direction-nav a {
	height: auto;
	width: auto;
	font-size: 50px;
	line-height: 50px;
}
.testimon_head {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 50px;
}
.testimon_head span {
	background:#07b5bd;
	padding: 10px 40px 10px 0;
  	display: inline-block;
}
.testimon_head span.test_icon {
	background:url('images/about_sprite.png') no-repeat;
	padding: 0;
  	width: 79px;
  	height: 50px;
  	background-position: 0 -8px;
  	vertical-align: middle;
}
#subbody .testimonial_main .flex-direction-nav a.flex-prev:before, #subbody .testimonial_main .flex-direction-nav a.flex-next:before {
	content: "";
}
#subbody .testimonial_main .flex-direction-nav a.flex-prev {
	background:url('images/about_sprite.png') no-repeat;
	background-position: -100px -13px;
	width: 32px;
	height: 69px;
}

#subbody .testimonial_main .flex-direction-nav a.flex-next {
	background:url('images/about_sprite.png') no-repeat;
	background-position: -155px -13px;
	width: 32px;
	height: 69px;
}
body .wpcf7-form input[type="submit"] {
	background: #227fb1 !important;
	border:none !important;
}
body .wpcf7 input[type="text"], body .wpcf7 input[type="email"] {
	width: 50%;
}

.login_box {
	text-align: center;
	background: #efedf4;
	padding: 20px 5px;
}
.login_box h3 {
	text-transform: uppercase;
	font-weight:normal;
	margin-bottom: 5px;
	font-size: 26px;
}
.login_box p{ 
	margin-bottom: 10px;
	font-size: 16px;
}
.button, .more-link, .button:visited, #maincontent input[type="submit"], #maincontent input[type="reset"], button {
	font-size: 18px;
	font-weight: normal;
	min-width: 163px;
}
#afterheader .pagedesc {
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 20px;
	color: inherit;
}
.your-message textarea {
	height: 150px;
	width: 80%;
}
.nvr-people li .peoplecontainer{
	text-align: left;
	-webkit-box-shadow: 6px 5px 0px -2px rgba(191,191,191,1);
	-moz-box-shadow: 6px 5px 0px -2px rgba(191,191,191,1);
	box-shadow: 6px 5px 0px -2px rgba(191,191,191,1);
	border:1px solid #dcd7d2;
	padding: 0 15px 15px;
}
.nvr-people li .peoplecontainer .imgcontainer{
	margin: 0 -15px;
}
.nvr-people .peopletitle {
	padding: 14px 0px 0px 0px;
}
.nvr-people .peopletitle h5 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.nvr-people .peoplecontainer .peopleinfo {
	font-size: 14px;
}
.nvr-people .peopletitle h5 a {
	color: #666666;
}
.nvr-people .leader_mail a i{
	padding-right: 5px;
}
.nvr-people .leader_mail a {
color: #07bec6;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 183px;
  overflow: hidden;
  display: block;
}
.nvr-people .peopleinfo {
	padding-bottom: 15px;
}
.nvr-people .row .three{
	width: 20%;
}

/* 04-06-2015 */
.team_members {
	background: #07bec6;
	padding: 70px 0;
}
.team_mem_main {
	background: #ffffff;
	-webkit-box-shadow: 7px 7px 0px -2px rgba(5,124,129,1);
	-moz-box-shadow: 7px 7px 0px -2px rgba(5,124,129,1);
	box-shadow: 7px 7px 0px -2px rgba(5,124,129,1);
	padding: 10px 20px;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
}
.team_title {
	font-size: 18px;
	text-transform: uppercase;
	float: left;
	width: 40%;
}
.mem_design {
	float: left;
	width: 40%;
}
.mem_mail {
	float: right;
	width: 20%;
	text-align: right;
}
.mem_mail a {
	color:#07bec6;
}
.mem_mail a i {
	padding-right: 5px;
}
.testimon_head span.team_icon {
  	background-position: -211px -8px;
}

.mem_m_mail {
    float: right;
    position: absolute;
    right: 20px;
    top: 12px;
}

.mem_m_mail a {
	background: #217FB2;
	color: #ffffff;
	display: block;
	padding: 9px 20px;
	text-transform: uppercase;
	font-size: 15px;
}
.mem_m_mail a:hover {
	background: #1d5c81;
}
body a.view_bio {
	color: #FFF;
	min-width: 100px;
	font-size: 16px;
	letter-spacing: inherit;
}

h2.bio_title span {
	background: #efedf4;
	text-transform: uppercase;
	font-size: 42px;
	display: inline-block;
	padding: 10px 60px 10px 20px;
	font-weight: normal;
}
.bio_title {
    margin-bottom: 20px;
}
#cboxContent .left_biodata p {
	padding-right: 28px;
}
#cboxContent .mem_des_wp p {
	margin-bottom: 3px;
}
#cboxContent p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: normal;
    color: #666666;
}
#cboxContent h4 {
	font-size: 24px;
	font-weight: normal;
}
.no-margin-b {
	margin-bottom: 0;
}
body #cboxClose {
	top: 0;
	bottom: inherit;
	min-width: inherit;
	background: transparent url("images/about_sprite.png") no-repeat scroll -318px -8px;
	width: 40px;
	height: 45px;
}
body #cboxClose:hover {
	background: transparent url("images/about_sprite.png") no-repeat scroll -318px -8px;
}
body #cboxLoadedContent {
	margin-bottom: 0;
}

 @media only screen and (min-width: 767px) {
	.mem_m_mail {
		display: none;
	}
}	
@media only screen and (max-width: 1100px) {
	.nvr-people .row .three{
		width: 25%;
	}
	.team_title {
		width: 35%;
	}
	.mem_design {
    	width: 35%;
	}
	.mem_mail {
    	width: 30%;
	}
}	
 /* Property Listing */
.property_filter .nvr-prop-box {box-shadow: 5px 5px 0px #BFBFBF; border:1px solid #DBDAD5;}
#sidebar #searchform .searcharea #s { background: #F3F3F3;  padding-right: 30px; width: 88%; }
#sidebar #searchform .searcharea #s:before { content: ""; color: #FF0000;  }
#sidebar .widget-title { text-align: left; font-family: 'lato', sans-serif; font-size: 24px; font-weight: 100; color: #07bec6}
#sidebar .widget-title { border-color: #07bec6; }
#sidebar .widget-title span { color: #07bec6;}

.nvr-prop-address > span { font-size: 10px; line-height: 17px; width: 39%; }
.alignright, img.alignright { margin-left: 10px; }

/* Property Listing New styles */
.page-template-template-property-php .prop-item-container {box-shadow: 5px 5px 0px #BFBFBF; border:1px solid #DBDAD5;margin-right: 20px;
    padding: 0;}

#sidebar .heapBox .holder { background: #ffffff; border-bottom: 0px solid #07bec6;  border-top: 1px solid #07bec6; height: 33px; text-indent: 20px; text-transform: uppercase;  color: #07bec6; }
li.filter-title { color: #07bec6; font-size: 21px; margin: 20px 0 10px !important;  text-transform: uppercase; font-size: 24px; font-family: 'lato', sans-serif; font-weight: 300; }
.spacer {height: 20px;}

.heapBox { width: 100%; }
.heapBox a {color: #07bec6; }
.heapBox div.heap { background: #ffffff !important; border: 1px solid #07bec6;  top: 0px !important; width: 100% !important; box-shadow: 3px 3px 0px #bfbfbf; z-index: 11 }
.heap .heapOptions { background: #FFFFFF; }

.sidebar-search {   height: 46px;}
#sidebar { font-family: 'lato', sans-serif; font-weight: 300;}
#sidebar #search { background:#F3F3F3; border-radius: 0;  font-size: 20px; padding: 10px 30px 10px 10px; width: 80%; position: absolute;}
#sidebar li li {  border-bottom-color: #ffffff;  margin: 0; padding: 0;}
#sidebar li li a { background: #FFFFFF; color: #868686; text-transform: uppercase; font-size: 18px;}
#sidebar li li a:hover, #sidebar li li a.active { color: #227fb1; }
.heapBox .heap .heapOptions .heapOption a {background: #FFFFFF;}
.heapBox .heap .heapOptions .heapOption a.selected { background: #FFFFFF;}
#sidebar .heapBox .holder {width: 84% !important; font-size: 18px; font-family: 'lato', sans-serif; font-weight: 300;  }
.heapBox .holder, .heapBox .handler { border-top: 1px solid #07bec6;}
.nvr-prop-address > span {  display: inline-block; line-height: 15px;}
.alignright, img.alignright {margin-left: 5px;}


.nvr-prop-container .nvr-prop-title { margin: 0 0 10px; text-align: center; text-transform: uppercase; font-weight: normal; }
.nvr-prop-container .nvr-prop-title a{ color:#666666}
.nvr-prop-container .nvr-prop-type, .nvr-prop-container .nvr-prop-size, .nvr-prop-container .nvr-prop-bed { margin-right: 0;}


/*login */
.login .input[type="text"], .login input[type="email"], .login textarea, input[type="password"], .login select { border: 2px solid #EEEDF4; color: #808080;  font-size: 16px; text-transform: uppercase;}
.login .input-text { margin: 0px 0;}
#loginform .input-text { width: 20%}
.login .forget-password a{ color: #11e3ee;  margin-left: 10px; vertical-align: bottom;}
.login .forget-password a:hover { color:#227fb1;}
.button, .button:visited, #maincontent input[type="submit"], #maincontent input[type="reset"], button { background: #227FB1; border-color: #227FB1; color: #ffffff; }

/* Top Search*/
.top-search  {float: none;  text-align: right;margin-bottom: -10px; }
.top-search #searchform #s { padding:5px; background:#EFEFEF; margin-right: 15px;}
.topcontainer.container { margin-top: 25px;}

.search-results .wp-pagenavi {margin:15px 0; text-align:center;}
.search-results #maincontent.twelve.columns .postscontainer.classic {  margin:inherit;  max-width: inherit; }
.search-results .posttitle, .search-results .posttitle a, .search-results .posttitle a:visited {  color: #07bec6; font-weight: normal; text-transform: uppercase; font-family: lato,sans-serif !important; }

.team_members .flex-direction-nav {	display: block; }


.input-append.span12 {
    position: relative;
}
#search_prop { width: 100%;}

#search_prop .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#search_prop button {
    border: 0;
    background: none;
    min-width: 10px;
    padding: 13px 16px;
    position: absolute;
    right: 0;
    top: 0;
    
    
   
}

.search-query:focus + button {
    z-index: 3;
}


.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.icon-search:before {
    content: ""; 
    color: #CCCCCC;
    font-family: "fontawesome";
    font-size: 18px;
    font-style: normal;    
}


.flex-direction-nav{
    display:none;
}
.site_plan{
    text-align:center;
}

.site_plan p{
    background-color: #25bcba;
    color: white;
    padding: 15px;
    width: 14%;
}
.tenants{
    float:left;
    width:50%;
}
.tenants h3{
    text-transform: uppercase;
}
.tenants table{
    width:80%;
}
.tenants table tr:nth-child(2n + 1){
    background-color: #E2E2E2;
}
.oi h3{
    text-transform: uppercase;
}
.oi{
    float:left;
    width:50%;

}
.oi table{
    width:80%;
}

.oi table tr:nth-child(even){
    background-color: #E2E2E2;
}


@media only screen and (max-width: 767px) {
	.nvr-people .leader_mail a {
		width: auto;
	}
	#cboxLoadedContent .columns {
		padding: 0;
	}
	#maincontent {
		max-width: inherit;
	}
	body .wpcf7 input[type="text"], body .wpcf7 input[type="email"] {
		width: 70%;
	}
	.your-message textarea {
		width: 100%;	
	}
	.flt_right {
		float: none;
	}
	.nvr-people .row .three{
		width: 100%;
	}
	.mem_mail, .mob_hide {
		display: none;
	}
	#cboxContent .left_biodata p {
		padding-right: 0;
	}
	.mem_m_mail {
		display: block;
	}
	.mem_design {
    	float: none;
    	width: inherit;
    	clear: 	both;
	}
	h2.bio_title span {
	    font-size: 25px;
    	padding: 3px 60px 3px 14px;
    	font-weight: normal;
	}
	.nvr-people .row .three {
		float: left;
		width: 50%;
	}
	.nvr-people .leader_mail a {
		background: #217FB2;
		color: #FFF;
		display: block;
		padding: 9px 20px;
		text-transform: uppercase;
		font-size: 15px;
	}
}

@media only screen and (min-width: 320px) and (max-width:767px) {
	.property-filter .toggle{display: block}
	.property-filter {width:278px; left:0; margin:0 15px; padding:5px;}
	.property-filter .columns{padding:0; }
	.property-filter {bottom:inherit; top:80px;}
	.property-filter h6.filter-title {width:95%; margin:0;}
	.property-filter .filterbox{display:none; margin-top:5px;}
	.property-filter .toggle{cursor: pointer;}

	.callAction-full{padding:15px 0 0 0 !important; }
	#gMapsContainer{margin: 35px 15px 15px 15px;}
	.outermaps_container{background: #fff;}
	p.blocktitle span{font-size:16px; background-size:30px; padding-left:50px!important; }

	p.blocktitle < .whoweare{background-color: #efedf4 }
	li.prop-item-container[style]{width:290px!important; float:none!important;}

	}

	@media only screen and (min-width: 360px){

		li.prop-item-container[style]{width:330px!important;}
    }

	@media only screen and (min-width: 480px){

		li.prop-item-container[style]{width:460px!important;}
		/*.propcarousel {width:400px;}*/
	}
